/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
    --color-primary: #000;
    --color-body: #7C7C7C;
    --color-bg: #EDEDED;
    --color-bg-card: #FFF;

    // Border Radius

    --border-radius: 10px;
}