@import 'mixins/mixins.scss';

.card-container {
    max-width: 608px;
    display: flex;
    margin-top: 227px;
    margin-bottom: 226px;
    & &__wrapper {
        height: 571px;
        @include border-radius-card;
        text-decoration: none;
        color: var(--color-primary);
        background-color: var(--color-bg-card);
        align-items: center;
    }
    & &__image {
        margin: 16px 16px 0 16px;
        height: 296px;
        @include image-size-destop;
    }
    & &__post {
        margin: 0 16px
    }
    & &__author {
        @include row-direction;
        margin-top: 32px;
        justify-content: space-between;
        align-items: center;
    }
    & &__author-name {
      @include author-fonts;
    }
    & &__author-created {
        @include author-created-fonsts;
    }
    & &__author-row {
        @include row-direction;
        align-items: center;
        gap: 12px;
    }
    & &__author-avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
    & &__text-title {
        @include title-fonts;
        margin-top: 32px;
        margin-bottom: 14px;
    }
    & &__text-desc {
        @include text-fonts;
    }
    & &__readmore{
        margin: 32px 16px 0px 16px;
        @include row-direction;
        align-items: center;
        gap: 12px;
    }
    & &__readmore-text {
      @include readme-fonts;
    }
    @media (max-width: 992px) {
        margin-top: 312px;
        margin-bottom: 311px;
    }
    @media (max-width: 625px) {
        margin: 147px 16px 146px 16px;
        & &__image {
            height: auto;
            @include image-size-mobile;
        }
        & &__wrapper {
            height: 519px;
            width: 343px;
        }
        & &__author {
            margin-top: 23px;
        }
        & &__text-title {
            margin-top: 24px;
            margin-bottom: 8px;
        }
        & &__readmore {
            margin-top: 24px;
        }
        & &__author-avatar{
            width: 36px;
            height: 36px;
        }
    }
    
}

