/// Homepage Styles File
/// Here we import all the Styles files we need for our Homepage.
/// 

@import '../../../global-styles/style.scss';
@import 'card.scss';

.home-page-container {
    display: flex;
    justify-content: center;
    width: 100%;

    background-color: var(--color-bg);

    @media (max-width:625px) {
        height: 100vh;
    }
}