@keyframes zoom-in-zoom-out {
  0% {
    transform: scaleX(1) scaleY(1);
  }
  50% {
    transform: sscaleX(1.01) scaleY(1.01);
  }
  70% {
    transform: scaleX(1.01) scaleY(1.01);
  }
  100% {
    transform: scaleX(1) scaleY(1);
  }
}
